.navbar {
    display: flex;
    margin: 0 20px;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    /* display: flex; */
    height: 100px;
}

.navbar a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    font-family: var(--p-font);
    font-weight: 500;
    /* flex-wrap: wrap; */
    /* margin: 10px 10px; */
    color: var(--text-clr);
    text-align: center;
    align-items: center;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--main-clr);
}

.logo {
    margin-right: auto;
}
.logo img {
    width: 110px;
    transition: 0.3s ease;
}

.logo img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.menu-btn {
    display: none;
}

.menu-btn i {
    align-items: center;
    cursor: pointer;
    font-size: 46px;
    transition: 0.3s ease-out;
}

.close-btn {
    transform: translate(-50%, 50%);
    /* font-size: 36px; */
    position: relative;
    top: -19%;
    left: 47%;
}

.close-btn i {
    font-size: 46px;
    transition: 0.3s ease;
}

.menu-btn i:hover,
.close-btn i:hover {
    cursor: pointer;
    color: var(--main-clr);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff3b;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 35px;
    height: 100vh;
    width: 100%;
    z-index: 999;
    transition: right 0.3s ease;
}

.sidebar a {
    width: 100%;
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-clr);
    transition: 0.3s ease;
}

.sidebar a:hover {
    color: var(--main-clr);
}
