.bg-img {
    background-image: url('/src/assets/Images/Hotel-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: brightness(0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    /* display: flex; */
    height: 100px;
}

.navbar a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 10px 10px; */
    color: var(--text-clr);
    text-align: center;
    align-items: center;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--main-clr);
}

.logo {
    margin-right: auto;
}
.logo img {
    width: 135px;
    transition: 0.3s ease;
}

.logo img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.menu-btn {
    font-size: 36px;
    display: none;
}

.close-btn {
    font-size: 36px;
    position: relative;
    top: -10%;
    left: 45%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff3b;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 35px;
    height: 100vh;
    width: 100%;
    z-index: 999;

    transition: all 0.3s ease;
}

.sidebar a {
    width: 100%;
    font-size: 1.5rem;
    color: var(--text-clr);
    transition: 0.3s ease;
}

.sidebar a:hover {
    color: var(--main-clr);
}

@media (max-width: 947px) {
    .menu-btn {
        font-size: 40px;
        display: block;
    }
    .hideOnMobile {
        display: none;
    }
    .sidebar a {
        font-size: 1.8rem;
    }
}

@media (max-width: 300px) {
    .close-btn {
        font-size: 40px;
        top: -15%;
        left: 35%;
    }
    .sidebar a {
        font-size: 1.2rem;
    }
}

@media (max-width: 660px) {
    .sidebar a {
        font-size: 1.5rem;
    }
}

@media (max-width: 432px) {
    .sidebar a {
        font-size: 1.2rem;
    }
}

@media (max-width: 326px) {
    .sidebar a {
        font-size: 1.1rem;
    }
}

@media (max-width: 375px) {
    .logo img {
        width: 105px;
    }
}

/* section */

.text-container {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.text-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 8px;
    max-width: 90%; /* Ensures it doesn’t overflow */
}

.text-container h2 {
    font-family: 'Lora', serif;
    font-size: 4rem;
    margin: 0;
}

.text-container p {
    font-size: 3rem;
    margin: 0;
    font-family: 'Tangerine', serif;
}

@media (max-width: 947px) {
    .text-container {
        align-items: center;
    }

    .text-content {
        text-align: center;
    }

    .text-content {
        width: 100%;
        text-align: center;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%);
        padding: 0px;
    }
}
@media (max-width: 768px) {
    .text-container h2 {
        font-size: 3.2rem;
    }

    .text-container p {
        padding-top: 10px;
        font-size: 2.5rem;
    }
}
@media (max-width: 540px) {
    .text-container h2 {
        font-size: 3rem;
    }
}
@media (max-width: 480px) {
    .text-container h2 {
        font-size: 3rem;
    }

    .text-container p {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    .text-container h2 {
        font-size: 2.5rem;
    }
}
