.bg-img {
    background-image: url('/src/assets/Hotel-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

nav a:hover {
    color: var(--main-clr);
}

.nav-items a {
    color: #fff;
}

.nav-items a:hover {
    color: var(--main-clr);
}

.navbar-brand img {
    transition: all 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.05);
}
