.bg-img {
    background-image: url('/src/assets/Images/Hotel-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    filter: brightness(0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    margin: 0 20px;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    /* display: flex; */
    height: 100px;
}

.navbar a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    font-family: var(--p-font);
    font-weight: 500;
    /* flex-wrap: wrap; */
    /* margin: 10px 10px; */
    color: var(--text-clr);
    text-align: center;
    align-items: center;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--main-clr);
}

.logo {
    margin-right: auto;
}
.logo img {
    width: 135px;
    transition: 0.3s ease;
}

.logo img:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.menu-btn {
    display: none;
}

.menu-btn i {
    align-items: center;
    cursor: pointer;
    font-size: 46px;
    transition: 0.3s ease-out;
}

.close-btn {
    transform: translate(-50%, 50%);
    /* font-size: 36px; */
    position: relative;
    top: -19%;
    left: 47%;
}

.close-btn i {
    font-size: 46px;
    transition: 0.3s ease;
}

.menu-btn i:hover,
.close-btn i:hover {
    cursor: pointer;
    color: var(--main-clr);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff3b;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    gap: 35px;
    height: 100vh;
    width: 100%;
    z-index: 999;
    transition: right 0.3s ease;
}

.sidebar a {
    width: 100%;
    font-family: var(--p-font);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-clr);
    transition: 0.3s ease;
}

.sidebar a:hover {
    color: var(--main-clr);
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
    }
    .hideOnMobile {
        display: none;
    }
    /* .sidebar a {
        font-size: 1.3rem;
    } */
}

/* @media (max-width: 300px) {
    .close-btn {
        font-size: 40px;
        top: -15%;
        left: 35%;
    }
    .sidebar a {
        font-size: 1.2rem;
    }
} */

/* @media (max-width: 660px) {
    .sidebar a {
        font-size: 1.5rem;
    }
} */

@media (max-width: 387px) {
    .close-btn {
        top: -21%;
        left: 42%;
    }
    .sidebar a {
        font-size: 1.2rem;
    }
}

@media (max-width: 375px) {
    .logo img {
        width: 105px;
    }
}

/* section */

.text-container {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.text-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    border-radius: 8px;
    max-width: 90%; /* Ensures it doesn’t overflow */
}

.text-container h2 {
    font-family: var(--heading-font);
    font-size: 4rem;
    margin: 0;
}

/* .text-container h2 span {
    color: var(--main-clr);
} */

.text-container p {
    color: var(--main-clr);
    font-size: 3rem;
    margin: 0;
    font-family: var(--heading-description-font);
    font-style: italic;
}

@media (max-width: 947px) {
    .text-container {
        align-items: center;
    }

    .text-content {
        text-align: center;
    }

    .text-content {
        width: 100%;
        text-align: center;
        bottom: 0%;
        left: 0%;
        transform: translate(-50%);
        padding: 0px;
    }
}
@media (max-width: 768px) {
    .text-container h2 {
        font-size: 3.2rem;
    }

    .text-container p {
        padding-top: 10px;
        font-size: 2.5rem;
    }
}
@media (max-width: 540px) {
    .text-container h2 {
        font-size: 3rem;
    }
}
@media (max-width: 480px) {
    .text-container h2 {
        font-size: 3rem;
    }

    .text-container p {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    .text-container h2 {
        font-size: 2.5rem;
    }
}

/* About */

.section-spacing {
    margin-top: 105vh; /* Adjust this value as needed */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 {
    width: 100%;
}

.content {
    padding: 0 90px;
    display: flex;
    justify-content: center;
    width: 100%;
}
/* needs to change */
.content img {
    max-width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 15px;
}

#about {
    /* line-height: 55px; */
    font-family: var(--heading-description-font);
    font-weight: 500;
    /* Needs to be changed */
    font-size: clamp(1.8rem, 2vw, 7rem);
    width: 100%;
    text-align: justify;
    padding-left: 60px;
    box-sizing: border-box;
}

.heading-desc {
    font-family: var(--heading-description-font);
    font-style: italic;
    color: #d4c56d;
}

@media (max-width: 1328px) {
    #about {
        font-size: 1.6rem;
    }
}

@media (max-width: 1238px) {
    #about {
        font-size: 1.4rem;
    }
}

@media (max-width: 1075px) {
    .content {
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
    }

    .content img {
        margin-bottom: 10vh;
        width: 400px;
    }

    #about {
        text-align: justify;
        padding-left: 0px;
    }
    #about .heading-desc {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content img {
        /* width: 100%; */
        /* height: 700px; */
        margin-bottom: 10vh;
    }

    #about {
        font-size: 1.8rem;
    }
}

@media (max-width: 535px) {
    .content img {
        width: 300px;
        height: auto;
    }
    #about {
        font-size: 1.6rem;
        text-align: center;
        line-height: 30px;
    }
}

@media (max-width: 372px) {
    #about {
        font-size: 1.3rem;
        line-height: 28px;
    }
    .content {
        padding: 0 10px;
    }
    .heading-desc {
        font-size: 1.3rem;
    }
}

/* card */

.section-spacing-2 {
    margin-top: 20vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0px;
}

.card-container-inner {
    display: flex;
    width: 100%;
    /* margin-bottom: 15vh; */
}

.card {
    text-align: center;
    font-family: var(--p-font);
    padding: 70px 20px;
    background-color: #d4c56d;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid rgb(75, 82, 92); */
    /* border-radius: 10px 10px 0 0; */
}

#card-black {
    background-color: #202020;
}

i.ri {
    font-size: 36px;
}

@media (max-width: 535px) {
    .card-container-inner {
        display: grid;
    }
    .card {
        padding: 40px 20px;
    }
}

/* Accomodation */

.card_article img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*=== Image Gallery ===*/

.gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.showOnBtn {
    display: none;
}

.hideImgBtn {
    display: none;
}

.ShowImgBtn {
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: var(--p-font);
    font-size: 1.1rem;
    transition: 0.3s ease;
    font-weight: 500;
    text-transform: uppercase;
}

.ShowImgBtn:hover {
    background: var(--main-clr);
    cursor: pointer;
}

.hideImgBtn {
    padding: 10px 30px;
    text-align: center;
    border-radius: 20px;
    border: none;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: var(--p-font);
    font-size: 1.1rem;
    transition: 0.3s ease;
    font-weight: 500;
    text-transform: uppercase;
}

.hideImgBtn:hover {
    background: var(--main-clr);
    cursor: pointer;
}

.heading {
    /* width: 50%; */
    /* padding-bottom: 50px; */
    margin-bottom: 80px;
}

.heading h2 {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid var(--main-clr);
    padding-bottom: 10px;
}

.image__container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* align-items: center; */
}

.dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.dream img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    filter: grayscale(0.55);
    transition: 0.3s ease;
}

.dream img:hover {
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(1.02);
}

/* === Media queries === */

@media (max-width: 769px) {
    .image__container {
        flex-direction: column;
    }
    .dream {
        width: 100%;
    }
}

@media (max-width: 643px) {
    .heading {
        /* width: 100%; */
    }
    .heading h2 {
        font-size: 2em;
    }
}

/* === Events === */

.event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 20px 20px 20px;
}

.event-card-container {
    display: flex;
}

.card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* width: 100%; */
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
}

.event-card img {
    display: block;
    transition: transform 0.4s;
    width: 100%;
}

.event-card:hover img {
    cursor: pointer;
    transform: scale(1.2);
}

.card-content {
    text-align: center;
    background: linear-gradient(transparent, var(--main-clr) 58%);
    width: 100%;
    position: absolute;
    height: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    transition: height 0.3s ease;
}

.card-content a {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
}

.card-content h3 {
    font-family: var(--heading-font);
    font-size: 2rem;
    font-weight: 600;
}

.card-content p {
    font-family: var(--heading-description-font);
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
}

.event-card:hover .card-content {
    height: 60%;
    /* min-height: 60%; */
    overflow: hidden;
}

/* === Media Queries */

@media (max-width: 974px) {
    .card-area {
        flex-direction: column;
    }
    .event-card {
        width: 65%;
    }
}

@media (max-width: 525px) {
    .event-card {
        width: 100%;
    }
}

/* ===Rooms & Accomodations */

.room-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 20px 0 20px;
}

.room-card-container {
    display: flex;
}

.room-card-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.room-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    width: 100%;
}

.room-card img {
    width: 100%;
    /* filter: grayscale(0.7); */
    transition: 0.3s;
    /* border-radius: 10px; */
}

.room-card-content {
    width: 100%;
    background: #a39752;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.room-card:hover img {
    /* filter: grayscale(0); */
}

.room-card-content:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ===Media Query=== */

@media (max-width: 974px) {
    .room-card-area {
        flex-direction: column;
    }
}

@media (min-width: 525px) {
    .room-card {
        width: 55%;
    }
}

/* ===Location Container=== */

.location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 20px 20px 20px;
}
.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 90px;
}
.box {
    display: flex;
    max-width: 600px;
    width: 100%;
    text-align: justify;
}

.box p {
    font-family: var(--p-font);
    font-size: 1.3rem;
    /* line-height: 4vh; */
}

iframe {
    border-radius: 2em;
    opacity: 0.7;
    width: 500px;
    height: 500px;
    transition: all 0.3s ease-in-out;
}

iframe:hover {
    opacity: 1;
}

/* Media queries */

@media (max-width: 900px) {
    .map-container {
        flex-direction: column;
    }
}

@media (max-width: 584px) {
    .map-container {
        flex-direction: column;
    }
    .box p {
        font-size: 1.6rem;
        text-align: center;
    }
    iframe {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 584px) {
    .box p {
        font-size: 1.2rem;
    }
    iframe {
        width: 250px;
        height: 250px;
    }
}

/* ===Footer=== */

footer {
    margin-top: 10vh;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #96906d, #202020);
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
    /* flex-basis: 15%; */
}

.footer-logo {
    width: 150px;
    margin-bottom: 30px;
    cursor: pointer;
}

.col p {
    font-family: var(--p-font);
    text-transform: uppercase;
}
.col h3 {
    font-family: var(--p-font);
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}

.col h4 {
    font-family: var(--p-font);
}

#email {
    text-transform: lowercase;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.col ul li {
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a {
    /* text-transform: uppercase;s */
    font-size: 1rem;
    font-family: var(--p-font);
    text-decoration: none;
    color: #fff;
}

.col ul li:hover a {
    text-decoration: underline;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.form .fa-regular,
.fa-solid {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 80%;
    background: transparent;
    color: #ccc;
    border: none;
    outline: none;
}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fa-solid {
    font-size: 16px;
    color: #fff;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #ffffff;
    margin-right: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-phone {
    font-size: 15px;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

#copyright {
    font-family: var(--p-font);
    text-align: center;
}

@media (max-width: 700px) {
    .footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }

    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}
