@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    list-style: none;
    text-decoration: none;
    /* overflow-x: hidden; */
}

:root {
    --bg-color: #121212;
    --text-clr: #fff;
    --main-clr: #d4c56d;

    --big-font: 5.4rem;
    --p-font: 1rem;

    --heading-font: 'Playfair Display', serif;
    --p-font: 'Dancing Script', cursive;
}

body {
    background-color: var(--bg-color);
    color: var(--text-clr);
    min-height: 100vh;
}
