* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    list-style: none;
    text-decoration: none;
    /* overflow: hidden; */
}

:root {
    --bg-color: #121212;
    --text-clr: #fff;
    --main-clr: #d4c56d;

    --big-font: 5.4rem;
    --p-font: 1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-clr);
    min-height: 100vh;
}
